
@{
    ViewBag.Title = "MVC Demo App";
}


@section Title
{
    @ViewBag.Title
}
@section Resources
{
    <p><b>Microsoft</b></p>
    <p><a href="https://www.asp.net/mvc" target="_blank">Learn About ASP.NET MVC</a></p>
    <p><a href="https://msdn.microsoft.com/en-us/library/dd381412(v=vs.100).aspx" target="_blank">MSDN ASP.NET MVC Overview</a></p>
    <p><a href="https://msdn.microsoft.com/en-us/library/dn468210(v=vs.108).aspx" target="_blank">MSDN ASP.NET MVC Versions 1.0, 2, 3, 4</a></p>
    <p><a href="https://docs.microsoft.com/en-us/aspnet/overview" target="_blank">ASP.NET overview</a></p>
    <p><b>Other</b></p>
    <p><a href="http://www.tutorialsteacher.com/mvc/asp.net-mvc-tutorials" target="_blank">ASP.NET MVC Tutorials</a></p>
    <p><a href="https://app.pluralsight.com/library/search?q=mvc" target="_blank">Pluralsight Training</a></p>
}

<div>
    This MVC demonanstration app will show you how to:
    <ul>
        <li>Clientside Valdiation</li>
        <li>Custom clientside Valdiation</li>
        <li>Html Helpers</li>
    </ul>
 
</div>


