
@{
    ViewBag.Title = "AngulerJs Demonstration with Bootstrap";
}
@section Footer
    {
    <p>
        @Html.ActionLink("Back to List", "Index", "Home")
    </p>
}

@section Title
{
    @ViewBag.Title
}
<!-- Required for bootstrap -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/MyAngularApp.js"></script>
<link href="~/Content/AngularJs.css" rel="stylesheet" />

<div ng-app="myApp">
    <div class="container-fluid">
        <p style="font-size: 24px"><b>Note:</b>The corresponding javascript can be found in Angular.js</p>
        <my-custom-angular-directive></my-custom-angular-directive>
        <section class="well well-sm">Data Binding</section>
        <div ng-controller="personCtrl" style="margin:15px">
            <!-- Binding to a style attribute -->
            <p class="topic">Binding to a style attribute using an expression and two-way binding 'ng-model'.</p>
            <p>When you type an HTML color into the input box, below, the value of the background property will be changed.</p>
            <code>
                &lt;input style="background:<span>{</span>{color}}" ng-model="color" value="<span>{</span>{color}}"/&gt;
            </code>
            <form style="margin:15px;">
                Type a color to change the background:
                <br>
                <input style="background:{{color}}" type="text" ng-model="color" value="{{color}}" />
            </form>
            <!-- Two-way binding using "ng-model" -->
            <p class="topic">Two-way binding using "ng-model"</p>
            <p>When you type something in the two input boxes below the model will be updated reflecting the change below the input boxes.</p>
            <code>
                &lt;input ng-model=&quot;firstName&quot;&gt;<br>
                &lt;input ng-model=&quot;lastName&quot; &gt;
            </code>
            <form>
                First name:
                <br>
                <input ng-model="firstName">
                <br> Last name:
                <br>
                <input ng-model="lastName">
            </form>
            <!-- One-way binding using "ng-bind" -->
            <p class="topic">One-way binding using "ng-bind"</p>
            <code>
                First name: &lt;span ng-bind=&quot;firstName&quot;&gt;&lt;/span&gt;&lt;/p&gt;
                <br>Full name: &lt;span ng-bind=&quot;firstName + ' ' + lastName&quot;&gt;&lt;/span&gt;&lt;/p&gt;
            </code>

            <p class="exampleFont exampleBlock">First name: <span ng-bind="firstName"></span></p>
            <p class="exampleFont exampleBlock">
                Full name: <span ng-bind="firstName + ' ' + lastName"></span>
            </p>
            <!-- One-way binding using an "expression" -->
            <p class="topic">One-way binding using an "expression"</p>

            <code>
                First name: <span>{</span>{firstName}}&lt;/p&gt;
                <br>Full name: <span>{</span>{firstName + &quot; &quot; + lastName}}&lt;/p&gt;
            </code>

            <p class="exampleFont exampleBlock">First name: {{firstName}}</p>
            <p class="exampleFont exampleBlock">Full name: {{firstName + " " + lastName}}</p>
            <!-- One-way binding using an "expression" and JSON -->
            <p class="topic">One-way binding using an "expression" and JSON</p>
            <p>Full name: {{person.firstName + " " + person.lastName}}</p>
            <!-- One-way binding using an "ng-bind" and JSON -->
            <p class="topic">One-way binding using an "ng-bind" and JSON</p>
            <p class="exampleFont exampleBlock">
                Full name: <span ng-bind="person.firstName + ' ' + person.lastName"></span>
            </p>
            <!-- Binding to a function in the controller -->
            <p class="topic">Binding to a function in the controller</p>
            <p class="exampleFont exampleBlock">Full name: {{fullName()}}</p>

            <section class="well well-sm">Building a bootstrap list with ng-repeat</section>

            <code>
                &lt;ul ng-controller=&quot;namesCtrl&quot;&gt;<br>
                &nbsp;&nbsp;&lt;li ng-repeat=&quot;x in nameAndCountry | orderBy:'first'&quot;&gt;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<span>{</span>{ x.first + ' ' + x.last +  ', ' + x.country }}<br>
                &nbsp;&nbsp;&lt;/li&gt;<br>
                &lt;/ul&gt;
            </code>
            <ul class="list-group" ng-controller="namesCtrl">
                <li class="list-group-item" ng-repeat="x in nameAndCountry | orderBy:'first'">
                    {{ x.first + ' ' + x.last + ', ' + x.country }}
                </li>
            </ul>
            <section class="well well-sm">Building tablular layout with ng-repeat</section>
            <p class="topic">Using bootstrap with grid layout</p>
            <div ng-controller="namesCtrl">

                <div class="row">
                    <div class="col-sm-4">
                        <div class="radio">
                            <label><input type="radio" name="optradio" ng-click="orderBy('first', false)">Sort descending by first name</label>
                        </div>

                        <div class="radio">
                            <label><input type="radio" name="optradio" ng-click="orderBy('last', false)">Sort descending by last name</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio" ng-click="orderBy('country', false)">Sort descending by country</label>
                        </div>
                    </div>
                </div>

                <p class="topic">Using a table</p>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr style="font-weight:bold">
                            <th ng-click="orderBy('first', false)">First <span class="caret"></span></th>
                            <th ng-click="orderBy('last', false)">Last <span class="caret"></span></th>
                            <th ng-click="orderBy('country', false)">Country <span class="caret"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in nameAndCountry | orderBy:myOrderBy : isReverse">
                            <td>{{x.first }}</td>
                            <td>{{x.last }}</td>
                            <td ng-bind="x.country"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
